:root {
  --clr-primary-200:#eca688;
  --clr-primary-400: #663926;
  --clr-neutral-100: #fefae0;
  --clr-neutral-900: #a53f2b;

  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Playfair Display', serif;
}

*,
*::before,
*::after {
  box-sizing:border-box;
}

body{
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p{
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  color: var(--clr-primary-400);
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1em;
}

h1 {
  font-size: 5rem;
  background: -webkit-linear-gradient(left, #41251a, #d46149);
  background: -o-linear-gradient(right, #41251a, #d46149);
   background: -moz-linear-gradient(right, #41251a, #d46149);
   background: linear-gradient(to right, #41251a, #d46149); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#titleP{
  color: #41251a;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  display:block;
  margin: 1rem;
}

.text-center {
  text-align: center;
}


section {
  padding: 4rem 0;
}

/*NAV BAR*/
.nav { 
  background: -webkit-linear-gradient(left, #41251a, #d46149);
  background: -o-linear-gradient(right, #41251a, #d46149);
  background: -moz-linear-gradient(right, #41251a, #d46149);
  background: linear-gradient(to right, #41251a, #d46149); 
  overflow: hidden; 
}

/*style links in nav bar */
.nav a {
  float: right;
  text-decoration: none;
  font-size: 25px;
  display: block;
  padding: 20px;
  color:var(--clr-neutral-100);
}
 /*Change color link on hover */
 .nav a:hover {
   background-color: transparent;
 }

 /* Hide the link that should open and close the topnav on small screens */
.nav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .nav a {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: center; 
  }
  .nav a{
    transition: all 1.5s ease-out;
  }
  
}


/*CONTACT FORM*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}





@media (min-width:40em) {
  header,
  section {
    padding: 7rem 0;
}
}

/*magically makes it responsive */
.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }
  /* all direct children of my split will have */
  .split > * {
    flex-basis: 100%;
  }
  .split > * + * {
    margin-left: 2em;
  }
}

/* Color background div's seperately */
.bg-light {
  background-color: var(--clr-primary-200)
}
.bg-lighter {
  background-color: var(--clr-neutral-100);
}
.bg-medium {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400)
}
.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900)
}
.bg-medium h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}