:root {
  --clr-primary-200:#eca688;
  --clr-primary-400: #663926;
  --clr-neutral-100: #fefae0;
  --clr-neutral-900: #a53f2b;

  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Playfair Display', serif;
}

*,
*::before,
*::after {
  box-sizing:border-box;
}

body{
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p{
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  color: var(--clr-primary-400);
  font-weight: 900;
  line-height: 1;
  margin-bottom: 1em;
}

h1 {
  font-size: 5rem;
  background: -webkit-linear-gradient(left, #41251a, #d46149);
  background: -o-linear-gradient(right, #41251a, #d46149);
   background: -moz-linear-gradient(right, #41251a, #d46149);
   background: linear-gradient(to right, #41251a, #d46149); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  display:block;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 4rem 0;
}

@media (min-width:40em) {
  header,
  section {
    padding: 7rem 0;
}
}

/*magically makes it responsive */
.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }
  /* all direct children of my split will have */
  .split > * {
    flex-basis: 100%;
  }
  .split > * + * {
    margin-left: 2em;
  }
}

/* Color background div's seperately */
.bg-light {
  background-color: var(--clr-primary-200)
}
.bg-lighter {
  background-color: var(--clr-neutral-100);
}
.bg-medium {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400)
}
.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900)
}
.bg-medium h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}